* {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:transparent;  ;
    color: #000;
    padding: 15px 30px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 25px;
    text-align: center;
    margin-right: 100px;
    font-size: 17px;
    font-weight: bold;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

.nav-links a:hover {
    color: black;
}

.nav-links li {
    list-style: none;
}

/*Footer*/

.footer {
    text-align: center;
    bottom: 0;
    position: fixed;
    background-color: #423E3E;
    width: 100%;
    padding: 15px;
    color: white;
}
