* {
  padding: 0;
  margin: 0;
}

body{
  background-image: url(./image/image_Home.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);   
  backdrop-filter: blur(12px);           
  -webkit-backdrop-filter: blur(12px);   
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px 30px;
  position: fixed;  
  top: 0;
  width: 100%;
  z-index: 1000;   
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #0f0e0e;
}

.nav-links {
  display: flex;
  gap: 25px;
  text-align: center;
  margin-right: 100px;
  font-size: 17px;
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;
  color: #060606;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #e0e0e0;
}

.nav-links li {
  list-style: none;
}

/* ------------ HERO BANNER ------------- */
.hero-banner {
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


/* ------------ MOVIES ROW ------------- */
.movies-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 10px;
  height: 80vh;
  background-color: #3a3535;
  justify-items: center;

  
}

.movie-card {
  width: 180px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.07);
}




/*Contact */
/* Container général */
.contact-container {
  max-width: 500px;
  margin: 90px auto;
  padding: 20px 30px;
 background: rgba(255, 255, 255, 0.1);   
  backdrop-filter: blur(12px);           
  -webkit-backdrop-filter: blur(12px);   
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

/* Titre */
.contact-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Formulaire */
.contact-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Labels */
.contact-container label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

/* Inputs et textarea */
.contact-container input,
.contact-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  resize: vertical;
}

/* Bouton */
.contact-container button {
  padding: 15px 60px;
 display: block;
 margin: 0 auto;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  
}

.contact-container button:hover {
  background-color: #0056b3;
}
