* {
  padding: 0;
  margin: 0;
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);   
  backdrop-filter: blur(12px);           
  -webkit-backdrop-filter: blur(12px);   
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px 30px;
  position: fixed;  
  top: 0;
  width: 100%;
  z-index: 1000;   
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #0f0e0e;
}

.nav-links {
  display: flex;
  gap: 25px;
  text-align: center;
  margin-right: 100px;
  font-size: 17px;
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;
  color: #060606;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #e0e0e0;
}

.nav-links li {
  list-style: none;
}

/* ------------ HERO BANNER ------------- */
.hero-banner {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  background-image: url(./image/image_Home.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


/* ------------ MOVIES ROW ------------- */
.movies-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 10px;
  height: 80vh;
  background-color: #3a3535;
  justify-items: center;

  
}

.movie-card {
  width: 180px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.07);
}




/*Contact */
/* Container général */
.contact-container {
  max-width: 600px;
  margin: 100px auto;
  padding: 30px 40px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  font-family: "Poppins", sans-serif;
}

/* Titre */
.contact-container h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 26px;
  color: #333;
  font-weight: 600;
}

/* Formulaire */
.contact-container form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* Labels */
.contact-container label {
  font-size: 14px;
  font-weight: 600;
  color: #555;
  margin-bottom: 5px;
}

/* Inputs + Textarea */
.contact-container input,
.contact-container textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
  background: #f7f7f7;
  transition: border 0.3s, background 0.3s;
}

.contact-container input:focus,
.contact-container textarea:focus {
  background: #fff;
  border-color: #007bff;
}

/* Bouton */
.contact-container button {
  padding: 12px;
  width: 100%;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-container button:hover {
  background-color: #0056b3;
  transform: scale(1.03);
}

/* Message d’erreur */
.contact-container p {
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

