* {
  padding: 0;
  margin: 0;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.1);   
  backdrop-filter: blur(12px);           
  -webkit-backdrop-filter: blur(12px);   

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px 30px;
  position: fixed;  
  top: 0;
  width: 100%;
  z-index: 1000;   
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #0f0e0e;
}

.nav-links {
  display: flex;
  gap: 25px;
  text-align: center;
  margin-right: 100px;
  font-size: 17px;
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;
  color: #060606;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #e0e0e0;
}

.nav-links li {
  list-style: none;
}



.home-container {
  background-image: url('/image/image_Home.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

/*Footer*/

.footer {
  text-align: center;
  bottom: 0;
  position: fixed;
  background-color: #423E3E;
  width: 100%;
  padding: 15px;
  color: white;
}